*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
  height: 90px;
}

.search-bar {
  height: 40%;
  margin-right: 20px;
  padding-top: 15px;
}

main {
  background: #434343;
  height: calc(100vh - 80px);
  overflow: auto;
}

.results {
  width: 85%;
  margin: 0 auto;
  /* display: flex; */
}

.lang {
  height: 15px;
}

.film {
  height: 277px;
  width: 185px;
  position: relative;
  margin: 10px;
}

.info {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: lightgray;
  background-color: rgba(0,0,0,0.8);
  display: none;
}

.film:hover .info{
  display: block;
}

div.info ul {
  list-style: none;
  /* padding: 10px; */
  color: lightgray;
}

div.info ul li {
  padding: 10px;
}

.fa-star{
  color: yellow;
}
